<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ﾓﾊﾞHARU MailPost(ｱﾙﾌｧ)</title>
<link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>
<body bgcolor="#ffffff">
<p>ﾓﾊﾞ HARU MailPost - ｱﾙﾌｧ</p>
<br />
設定完了です。このﾍﾟｰｼﾞをﾌﾞｯｸﾏｰｸして↓ﾘﾝｸ先からﾒｰﾙで投稿してください。<br />
<br />
<div class="contents">
<span class="caption">■ﾓﾊﾞHARU MailPost(実験中) -本文ﾊﾞｰｼﾞｮﾝ</span><br />
<a href="mailto:haru@pinoxox.xsrv.jp?body=:{$sSessionid}">【ﾒｰﾙで投稿】</a><br />
<span class="caution">※『本文』に33文字のSessionIDが入りますが、その 前 に入力してください。</span><br />
<span class="caution">※現在画像はjpg形式しか受け付けてません。問題があれば相談してください (by <a href="http://haru.fm/user/347">ぴの</a>)</span><br />
<br />
いちいちブラウザを表示するのが面倒なようであれば、↓こちらがあなたのSessionIDですので、『件名』の前につけてﾒｰﾙ送信してください。<br />
<form>
<input type="text" value="{$sSessionid}:" />
</form>
</div>

<div class="contents">
<span class="caption">■ﾓﾊﾞHARU MailPost(実験中) -件名ﾊﾞｰｼﾞｮﾝ (近々削除予定)</span><br />
<a href="mailto:haru@pinoxox.xsrv.jp?subject={$sSessionid}:">【ﾒｰﾙで投稿】</a><br />
<span class="caution">※『件名』に33文字のSessionIDが入りますが、その 後 に続けて入力してください。</span><br />
<span class="caution">※その他は↑のと変わりません</span>
</div>

<div class="contents">
<span class="caption">■更新履歴</span>
<li>2007/12/29:<br />概知不具合：一部のmixiIDでﾛｸﾞｲﾝできない＞＜</li>
<li>2007/12/29:<br />初期ﾊﾞｰｼﾞｮﾝﾘﾘｰｽ</li>
</ul>
</div>

<div class="contents">
<span class="caption">■不具合/お問い合わせ</span><br />
Haru内の<a href="http://haru.fm/user/347">ぴの</a>へ「#ぴの# 内容」でください。<br/>
でも、すぐ直せるか分からないので予めご了承くださいm(_ _)m
</div>

<a href="../index.html">ﾄｯﾌﾟに戻る</a>

</body>
</html>
