<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ﾓﾊﾞHARU MailPost(ｱﾙﾌｧ)</title>
<link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>
<body bgcolor="#ffffff">
<p>ﾓﾊﾞ HARU MailPost - ｱﾙﾌｧ</p>
<br />
{if $sErrorMessage != ''}
<div class="contents">
<span class="caption">■ｴﾗｰ</span><br />
<span class="caution">{$sErrorMessage}</span><br />
</div>
{/if}
<div class="contents">
<span class="caption">■ﾛｸﾞｲﾝ</span><br />
HARUにﾛｸﾞｲﾝするときのIDとﾊﾟｽﾜｰﾄﾞを入力してください。<br />
<span class="caution">※ｾｷｭﾘﾃｨ ﾎﾟﾘｼｰ:このﾊﾟｽﾜｰﾄﾞはｻｰﾊﾞには保存しません。</span><br />
<form action="../api/login.php" method="post">
ID<input type="text" name="id" value="" format="x*" /><br />
ﾊﾟｽﾜｰﾄﾞ<input type="text" name="pw" value="" format="x*" /><br/>
<input type="submit" name="submit1" value="ﾛｸﾞｲﾝ" />
<br />
</form>
</div>

<a href="../index.html">ﾄｯﾌﾟに戻る</a>

</body>
</html>
