<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ﾓﾊﾞHARU - ｱﾙﾌｧ</title>
<link rel="stylesheet" href="../css/style.css" type="text/css" />
</head>
<body bgcolor="#ffffff">
<p>ﾓﾊﾞ HARU - ｱﾙﾌｧ</p>
<br />
{if $sErrorMessage != ''}
<div class="contents">
<span class="caption">■ｴﾗｰ</span><br />
<span class="caution">{$sErrorMessage}</span><br />
</div>
{/if}
<div class="contents">
<span class="caption">■ﾛｸﾞｲﾝ</span><br />
HARUにﾛｸﾞｲﾝするときのIDとﾊﾟｽﾜｰﾄﾞを入力してください。<br />
<span class="caution">※ｾｷｭﾘﾃｨ ﾎﾟﾘｼｰ:このﾊﾟｽﾜｰﾄﾞはｻｰﾊﾞには保存しません。</span><br />
<form action="../api/login.php" method="post">
ID<input type="text" name="id" value="" format="x*" /><br />
ﾊﾟｽﾜｰﾄﾞ<input type="text" name="pw" value="" format="x*" /><br/>
<input type="submit" name="submit1" value="ﾛｸﾞｲﾝ" />
<br />
</form>

<div class="contents">
<span class="caption">■ご注意</span><br />
しつこいようですが、もう一回書いておきます^^;<br />
<span class="caution">
※注意1：auのわりと新しい機種(Flash Lite 2.0対応端末)でのみ利用できます。<br />
※注意2：ﾊﾟｹｯﾄ定額を強くｵｽｽﾒします。本体が約9KB。1回のﾛｰﾃﾞｨﾝｸﾞで約6〜8KB(ｺﾒﾝﾄ量によります)</span>
</div>
<div class="contents">
<span class="caption">■使える端末報告</span><br />
↓こちら(Haru)にて使えた端末のご連絡をお待ちしていますっ☆これから使いたいﾋﾄはここで使えるかどうか見てみて〜<br />
<a href="http://haru.fm/post/174271">◎ﾓﾊﾞHARUが使える携帯は?</a>
</div>


<a href="../index.html">ﾄｯﾌﾟに戻る</a>

</body>
</html>
